<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>
<body>
    <h1>Model Deployment</h1>
    <p>Enter region name</p>

    <form action="/sub" method="POST">
        <input type="number" name="year" placeholder="year">
        <input type="text" name="region_name" placeholder="region_name">
        <input type="text" name="region_longitude" placeholder="region_longitude">
        <input type="text" name="region_latitude" placeholder="region_latitude">
        <input type="text" name="cardinal_direction_labeling" placeholder="cardinal_direction_labeling">
        <input type="submit" >

        
    </form>
</body>
</html>
