<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>
<body>
    <h1>Model Deployment</h1>
    <p>Enter region name</p>

    <form action="/sub" method="POST">
        <input type="number" name="year" placeholder="year">
        <br>
        <h1></h1>
        <select name="region_name_drop_down">
            <option value="A & N ISLANDS">A & N ISLAND</option>
            <option value="ANDHRA PRADESH">ANDHRA PRADESH</option>
            <option value="ARUNACHAL PRADESH">ARUNACHAL PRADESH</option>
            <option value="ASSAM">ASSAM</option>
            <option value="BIHAR">BIHAR</option>
            <option value="CHANDIGARH">CHANDIGARH</option>
            <option value="CHHATTISGARH">CHHATTISGARH</option>
            <option value="D & N HAVELI">D & N HAVELI</option>
            <option value="DAMAN & DIU">DAMAN & DIU</option>
            <option value="GOA">GOA</option>
            <option value="GUJARAT">GUJARAT</option>
            <option value="HARYANA">HARYANA</option>
            <option value="HIMACHAL PRADESH">HIMACHAL PRADESH</option>
            <option value="JAMMU & KASHMIR">JAMMU & KASHMIR</option>
            <option value="JHARKHAND">JHARKHAND</option>
            <option value="KARNATAKA">KARNATAKA</option>
            <option value="KERALA">KERALA</option>
            <option value="LAKSHADWEEP">LAKSHADWEEP</option>
            <option value="MADHYA PRADESH">MADHYA PRADESH</option>
            <option value="MAHARASHTRA">MAHARASHTRA</option>
            <option value="MANIPUR">MANIPUR</option>
            <option value="MEGHALAYA">MEGHALAYA</option>
            <option value="MIZORAM">MIZORAM</option>
            <option value="NAGALAND">NAGALAND</option>
            <option value="ODISHA">ODISHA</option>
            <option value="PUDUCHERRY">PUDUCHERRY</option>
            <option value="PUNJAB">PUNJAB</option>
            <option value="RAJASTHAN">RAJASTHAN</option>
            <option value="SIKKIM">SIKKIM</option>
            <option value="TAMIL NADU">TAMIL NADU</option>
            <option value="TRIPURA">TRIPURA</option>
            <option value="UTTAR PRADESH">UTTAR PRADESH</option>
            <option value="UTTARAKHAND">UTTARAKHAND</option>
            <option value="WEST BENGAL">WEST BENGAL</option>
          </select>
        <input type="submit" >

        
    </form>
</body>
</html>