<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Page</title>
</head>
<body>
    <h2>There are in total 5 different severity levels namely:</h2>
    <ul>
        <li>Highest</li>
        <li>Second highest</li>
        <li>Medium</li>
        <li>Second lowest</li>
        <li>Lowest</li>
    </ul>  
    <p>The model predicted that the severity level for the state {{name_pyton[1]}} has a severity level of {{name_pyton[0]}}</p>
</body>
</html>
